# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/



# Streamlit runtime & cache
.streamlit/secrets.toml
.streamlit/cache/

# Operating system files
.DS_Store
Thumbs.db

# IDE configurations
.idea/
.vscode/